body {
  height: 100%;
}
.bgimg-1 {
  background-image: image_url("about1.jpg");
  min-height: 500px;
}
.bgimg-2 {
  background-image: image_url("about2.jpg");
  min-height: 400px;
}
.bgimg-3 {
  background-image: image_url("about3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
    background-color: #111;
    color: white;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.bgimg-1, .bgimg-2, .bg-img-3 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.explore {
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  opacity: 100%;
  border: 4px solid var(--dark);
  padding: 1em;
  background: black;
  border-radius: 10px;
}

.explore:hover {
  border: 4px solid var(--primary);
  padding: 1.4em;
}

.bgimg-1, .bgimg-2, .bg-img-3, .caption {
  opacity: 0;
  animation-name: fadein;
  animation-delay: 1s;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  /* Firefox */
  -moz-animation-name: fadein;
  -moz-animation-delay: 1s;
  -moz-animation-duration: 1.5s;
  -moz-animation-fill-mode: forwards;
  /* Safari and Chrome */
  -webkit-animation-name: fadein;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  /* Opera */
  -o-animation-name: fadein;
  -o-animation-delay: 1s;
  -o-animation-duration: 1.5s;
  -o-animation-fill-mode: forwards;
}

.quote {
  font-style: italic;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.4em;
}
