html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

main {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 100px;
  min-height: 100%;
  height: 100%;
}

ul {
  list-style: none;
  padding-right: 30px;
}


h1 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  color: var(--engage);
}



//messaging
