.user-info-container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "sidebar bio"
    "sidebar ownedProjects"
    "sidebar appliedProjects"
    "sidebar joinedProjects";
}

.user-information {
  grid-area: sidebar;
  background-color: #dddddd;
}

.user-bio {
  grid-area: bio;
}

.owned-projects {
  grid-area: ownedProjects;
  display: flex;
  background-color: #dddddd;
}

.applied-projects {
  grid-area: appliedProjects;
  display: flex
}

.joined-projects {
  grid-area: joinedProjects;
  display: flex;
  background-color: #dddddd;

}
