.user-information li {
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
}

.user-information ul {
  padding: 0 30px;
}

.applied-container, .owned-container, .joined-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-bio {
  padding: 0px 15px;
}

.user-avatar img {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  max-width: 320px;
  border-radius: 50%;
  border: 5px solid var(--dark);
}

.fa-trash-o {
  font-size: 1.2em;
}
