// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type=checkbox] {
  padding: 0px;
  height: 20px;
  width: 20px;
}

option {
  background: red;
  font-size: 20px;
}

.projects-container, .latest-projects-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-item {
  max-width: 400px;
}

.project-image img {
  max-width: 320px;
}

.project-image img {
  height: 200px;
  width: 400px;
  border: 4px solid var(--dark);
  padding: 10px;
}
