// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body,
html {
  height: 100%;
  margin: 0;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), image-url('landing.jpg');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  color: #FDFAF9;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  font-size: 3em;
  margin-bottom: 15px;
}

.landing-buttons {
  opacity: 0;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.2em;
  animation-name: fadein;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  /* Firefox */
  -moz-animation-name: fadein;
  -moz-animation-delay: 2s;
  -moz-animation-duration: 2s;
  -moz-animation-fill-mode: forwards;
  /* Safari and Chrome */
  -webkit-animation-name: fadein;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  /* Opera */
  -o-animation-name: fadein;
  -o-animation-delay: 2s;
  -o-animation-duration: 2s;
  -o-animation-fill-mode: forwards;
}

.hero-text p {
  font-size: 1.5em;
}

.accent-text {
  color: #CCC7C5;
}

.welcome-msg {
  opacity: 0;
  animation-name: fadein;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  /* Firefox */
  -moz-animation-name: fadein;
  -moz-animation-delay: 0.5s;
  -moz-animation-duration: 1.5s;
  -moz-animation-fill-mode: forwards;
  /* Safari and Chrome */
  -webkit-animation-name: fadein;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  /* Opera */
  -o-animation-name: fadein;
  -o-animation-delay: 0.5s;
  -o-animation-duration: 1.5s;
  -o-animation-fill-mode: forwards;
}

.line-1 {
  opacity: 0;
  animation-name: fadein;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  /* Firefox */
  -moz-animation-name: fadein;
  -moz-animation-delay: 1s;
  -moz-animation-duration: 1.5s;
  -moz-animation-fill-mode: forwards;
  /* Safari and Chrome */
  -webkit-animation-name: fadein;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  /* Opera */
  -o-animation-name: fadein;
  -o-animation-delay: 1s;
  -o-animation-duration: 1.5s;
  -o-animation-fill-mode: forwards;
}

.line-2 {
  opacity: 0;
  animation-name: fadein;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  /* Firefox */
  -moz-animation-name: fadein;
  -moz-animation-delay: 1.5s;
  -moz-animation-duration: 1.5s;
  -moz-animation-fill-mode: forwards;
  /* Safari and Chrome */
  -webkit-animation-name: fadein;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  /* Opera */
  -o-animation-name: fadein;
  -o-animation-delay: 1.5s;
  -o-animation-duration: 1.5s;
  -o-animation-fill-mode: forwards;
}

.title-accent {
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  /* Firefox */
  -moz-animation-name: fadein;
  -moz-animation-duration: 1.5s;
  -moz-animation-fill-mode: forwards;
  /* Safari and Chrome */
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  /* Opera */
  -o-animation-name: fadein;
  -o-animation-duration: 1.5s;
  -o-animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.landing-buttons {
  border: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  text-transform: uppercase;
  margin: 10px;
  background-color: var(--engage);
  color: var(--primary)
}

.logo-landing {
  width: 95px;
  padding: 2px;
  position: relative;
}
