<div class="hero-image">
  <div class="hero-text">
    <h1 class='welcome-msg'>Welcome to Project <span class='accent-text'>Space</span></h1>
    <%= image_tag 'logo.png', class: 'logo-landing' %>
    <hr class='title-accent'>
    <p class='line-1'>There are currently <span class='accent-text'><%= @users_count %></span> users</p>
    <p class='line-2'>Collaborating on <span class='accent-text'><%= @projects_count %></span> projects</p>
    <button onclick="location.href='/projects'" type="button" class="landing-buttons">View All Projects</button>
    <% if session[:user_id] == nil %>
      <button onclick="location.href='/users/new'" type="button" class="landing-buttons">Sign Up</button>
      <button onclick="location.href='/sessions/new'" type="button" class="landing-buttons">Log In</button>
    <% end %>
  </div>
</div>
