<div class="bgimg-1">
  <div class="caption">
    <span class="border">PROJECT SPACE</span>
  </div>
</div>
<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">WHY PROJECT SPACE?</h3>
  <p> Project Space is collaboration
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa repellendus iure tenetur quod veniam dicta quo veritatis deserunt quisquam quam ipsum inventore officia enim ad odit dolore quibusdam, error quae sequi rem maiores! Voluptas rerum, harum. Est reiciendis, qui, unde iusto labore sit tempore. Eligendi temporibus voluptatibus natus animi. Id non optio commodi repellat repudiandae quod, vitae ipsa esse. Quasi dolore ratione alias obcaecati quos. Nesciunt culpa debitis soluta repellendus illum doloremque magnam, illo? Iure asperiores cum alias laudantium architecto explicabo delectus modi rerum. Quia alias modi unde? Voluptatem, sint, molestias! Dolores, harum, officia. Aliquid recusandae velit, sed voluptate, neque sequi architecto soluta dolorum officiis labore delectus doloremque vitae ipsam laborum aliquam. Dolorum reiciendis quasi expedita, delectus magnam illo quaerat tempore non veritatis obcaecati quod autem quis error debitis soluta, repellat sint nemo cumque enim? Earum provident reiciendis quae, porro quibusdam vel quaerat magni illum doloribus. Magni excepturi modi adipisci ad unde laudantium, assumenda exercitationem. Itaque illum delectus quis. Nulla impedit ipsa modi sunt officia aliquam quam veniam ea voluptas voluptates corrupti totam, unde quia obcaecati omnis blanditiis eius corporis. Veritatis blanditiis eos esse maxime beatae nam! Fuga, repellat iure. Autem dolorem harum, perferendis molestiae nostrum accusantium eum unde laudantium.</p>
</div>
<div class="bgimg-2">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: grey;">GOT A PROJECT?</span>
  </div>
</div>
<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p class="quote">“ Project Space gave me a place to explore my passions, the talent to encourage me, and the empowerment to realize I can do it – I can do anything I set my mind to ” – David, M.D., Ph.D., L.D., CPA
    </p>
  </div>
</div>
<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
  </div>
</div>
<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Collaborate with a diverse set of people</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi dicta eaque praesentium dignissimos quae sint reprehenderit nesciunt saepe temporibus debitis unde labore inventore molestiae reiciendis officia vero odit, doloremque optio.</p>
  </div>
</div>
<div class="bgimg-1">
  <div class="caption">
    <%= link_to 'Start Exploring', projects_path, class: "explore" %>
  </div>
</div>
