<h1>Applicants</h1>

<% @applicants.each do |applicants| %>
  <% if applicants.user != @project.members.where(owner: true).first.user %>
    <p>
      <%= link_to "#{applicants.user.name}", user_path(applicants.user.id) %>
    </p>
  <% end %>
<% end %>
