<h1><%= @project.name %></h1>

<h3>Owner</h3>
<p>
  <%= @project.members[0].user.name %>
</p>

<h3>Collaborators</h3>
<p>
  <% @project.members.each do |member| %>
    <% if member.approved == false %>
      <p>
        <%= member.user.name %>
      </p>
    <% end %>
  <% end %>
</p>

<% if @project.description %>
  <h3>Description</h3>
  <p>
    <%= @project.description %>
  </p>
<% end %>
