<h1><%= @category.category_type %></h1>
<%= link_to 'Home', projects_path, class: "current" %>

<% @category.projects.each do |project| %>
  <h4><%= link_to project.name, project_path(project)%></h4>
<% end %>
